table {
  width: 100%;
}

table,
th,
td {
  border-color: 2px solid rgb(83, 80, 80);
  border-collapse: collapse;
}
thead {
  background-color: #e1ffd4;
}
thead th {
  text-align: center;
  font-size: large;
}
th {
  padding: 10px;
}
td {
  padding: 10px;
}
.new td {
  padding-left: 10px;
  width: fit-content;
  margin: auto;
}
tfoot td {
  border-spacing: 0;
}
