table {
  width: 100%;
  table-layout: fixed;
  min-width: 760px;
  overflow-x: scroll;
}
tbody tr {
  border-bottom: 2px solid rgb(223, 221, 221);
}
tbody .info tr {
  border-bottom: none !important;
}
table,
th,
td {
  border-collapse: collapse;
}
thead {
  background-color: #e1ffd4;
}
thead th {
  text-align: left;
  font-size: large;
}
th {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 150px;
  min-width: 80px;
}
td {
  padding: 10px;
  max-width: 100px;
}
.new td {
  padding: 10px;
}
tfoot td {
  border-spacing: 0;
}
